<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel='stylesheet', href='/stylesheets/chat.css'>
  </head>
  <body>

    <!-- modal starts here -->
      <div id="requestModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Request for chat</h4>
            </div>
            <div class="modal-body">
              <text id="sender"></text><p> is requesting a chat. </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" id="accept">Accept</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
      <!-- modal ends here -->

      <!--modal for file upload -->

      <div id="fileModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Send file</h4>
            </div>
            <div class="modal-body">
              <div id="fileUpload"><input type="file" id="myFile" class="fileSave"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" id="save">Upload</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
      <!-- modal ends -->

    <div id="chatBox">
    </div>
    <div id="onlineUsers">
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/socket.io-stream.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
      var socket = io();
    </script>

    <script>
      var username = window.location.search.replace('?', '').split('=')[1];
      socket.emit('logged',username);


      //sending message
      $('#chatBox').on('click','.sendingMsg',function(event){
      var myMsg = $('#message').val();
      if(myMsg != ""){
          var sendTo = $('#send').attr('sendId');
          var rfrom=$('#send').attr('rid');
          //console.log("-------------"+myMsg);
          socket.emit('message',{'message':$('#message').val() ,'sendTo':sendTo,'rfrom':rfrom });
          $('#message').val('');
          $('#msgText').append("<div id='mymsg'>"+myMsg+"</div><br><br><br>");
        }

    });


      socket.on('receiveMsg',function(msg) {
            $('#msgText').append("<div id='othermsg'>"+msg+"</div><br><br>");
      });

      //display online users
      socket.on('logarr',function(msg){
        //console.log(msg+"arr");
       var list = $('#onlineUsers');
       list.empty();
       msg.forEach(function(el){
           list.append('<li class="log" sid='+el.id+' data-name='+el.name+'>'+ el.name + '</li>');
       });
     });

     //delegation
     $('#onlineUsers').on('click'
                          ,'.log'
                          ,function(event){
                            var id=$(event.target).attr('sid');
                            var name=$(event.target).attr('data-name');
                            var sid1='/#'+socket.id;
                            alert('Request sent');
                            socket.emit('chat-start',{'receiverId':id,'senderId':sid1,'senderName':name});
                          });

      //receive request
      socket.on('chatReq',function(msg){
        $('#sender').append(msg.senderName);
        $('#requestModal').modal('show');
        $('#accept').attr("senderId",msg.senderId);
        $('#accept').attr("receiverId",msg.receiverId);
      });

      //accepting a request
      $('#accept').click(function(){
           socket.emit("acceptedRequest",
           {
             "senderId" : $(this).attr('senderId'),
             "receiverId" : $(this).attr('receiverId')
           });
           //console.log("inside acceptedRequest.....corr"+$(this).attr('receiverId'));
           createChatBox($(this).attr('senderId'),$(this).attr('receiverId'));
       });

       //creating a chat area
       function createChatBox(sendId,rid){
         $('#chatBox').html("");
          var msgList = '<div id="msgList"><div id="msgText"></div></div>';
          var msgBox = '<div id="msgBox" class="sendingMsg"><input id="message" autocomplete="off" /><button id="send" sendId='+sendId+' rid='+rid+'>Send</button></div>';
          var typeSignal = '<div id="msgSignal"></div>';
          var upload='<div id="fileUp"><button type="button" id="myFile1" class="upload">Upload file</button></div>';
          $('#chatBox').append(msgList);
          $('#chatBox').append(msgBox);
          $('#chatBox').append(typeSignal);
          $('#chatBox').append(upload);
          $('#myFile').attr('senderId',sendId);
          $('#myFile').attr('receiverId',rid);
       }

       //request accepted
       socket.on("acceptedReq",function(msg){

         createChatBox(msg.receiverId,msg.senderId);

       });

       //show file modal
       $('#chatBox').on('click',
                        '.upload',function(event){
                            $('#fileModal').modal('show');
                        });

      //save file
      $('#myFile').change(function(e){
         var stream=ss.createStream();
         var file=e.target.files[0];
         var sender=$('#myFile').attr('senderId');
         var receiver=$('#myFile').attr('receiverId');
         //progress bar
         var blobStream=ss.createBlobReadStream(file);
         var size=0;
         blobStream.on('data',function(chunk){
           size+=chunk.length;
           console.log(Math.floor(size/file.size*100)+'%');
         });

         //uploading file to server
         ss(socket).emit('file',stream,{size: file.size,name:file.name,sender:sender,receiver:receiver});
         blobStream.pipe(stream);

         //appending
         var msg='<a href="/uploads/'+file.name+'" >'+file.name+'</a>';
         $('#msgText').append("<div id='mymsg'>"+msg+"</div><br><br><br>");
       });



      </script>

  </body>

</html>
